*{
    margin:0px;}
#main,#canvas{
    border: 0px solid black;
}
#canvas{
    width: 60%;
    height: 700px;
    margin: auto;
}
#form-body{
    width: 300px;
    height: 400px;
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
    padding: 5px;
}
