<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Question</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        #form-body{
            width:390px;
            margin-top:25px;
            height:640px;
            border:0px;
        }
        span {
            display: block;
            overflow: hidden;
            padding: 0px 4px 0px 6px;
        }
    </style>
</head>
<body>
    <div id="main">
        <div id="canvas">
            <div id="form-body" class="card p-3 shadow">
                <h2 style="text-align:center">New Question</h2><br>
                <form action="{{ url_for('newquestion',quiz_id=quiz_id) }}" method="post">
                  <input type="hidden" name="quiz_id" value="{{ quiz_id }}">
                  <div class="mb-3">
                    <label for="Input2" class="form-label">Question Statement</label>
                    <textarea class="form-control" id="Input2" rows="3" name="question_statement"></textarea>
                  </div>
                  <h4 style="text-align:center">Single Option Correct</h4><br>
                  <div class="mb-3">
                    <label for="Input4" class="form-label" style="float:left;">Option 1)</label>
                    <span><input type="text" class="form-control" id="Input4" name="option1"></span>
                  </div>
                  <div class="mb-3">
                    <label for="Input5" class="form-label" style="float:left;">Option 2)</label>
                    <span><input type="text" class="form-control" id="Input5" name="option2"></span>
                  </div>
                  <div class="mb-3">
                    <label for="Input6" class="form-label" style="float:left;">Option 3)</label>
                    <span><input type="text" class="form-control" id="Input6" name="option3"></span>
                  </div>
                  <div class="mb-3">
                    <label for="Input7" class="form-label" style="float:left;">Option 4)</label>
                    <span><input type="text" class="form-control" id="Input7" name="option4"></span>
                  </div>
                  <div class="mb-3">
                    <label for="Input8" class="form-label" style="float:left;">Correct Option</label>
                    <span><input type="text" class="form-control" id="Input8" name="c_option"></span>
                  </div>
                  <div style="text-align : center;">
                    <input type="submit" class="btn btn-primary" style="margin-right: 15px; width:70px;" value="Save">
                    <a href="/quiz_management" class="btn btn-primary"> Cancel </a>
                  </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>